@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    font-family: "poppins",sans-serif;
    background-color: #363535;
}
header{
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw 2vw 4vw;

    ul{
        list-style-type: none;
        display: flex;
        gap: 32px;
        font-size: 16px;
        li{
            white-space: nowrap;
        }
    }
    .icones{
        width: 383.57px;
        display: flex;
        justify-content: end;
        img{
            scale: 0.4;
        }
    }
}

.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.slide:nth-child(1){background: linear-gradient(180deg, #118C5F 0%, #107D55 100%);}
.slide:nth-child(2){background: linear-gradient(180deg, #e79c1a 0%, #D48F17 100%);}
.slide:nth-child(3){background: linear-gradient(180deg, #1F1F1F 0%, #111111 100%);}
.slide:nth-child(4){background: linear-gradient(180deg, #7C0D21 0%, #560816 100%);}

.slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 4vw 4vw 4vw 0;
    position: absolute;

    transition: opacity .6s ease,clip-path .8s ease;
    clip-path: circle(0% at 85% 50%);
    opacity: 1;

    .imgCirculo{
        margin-left: -20%;
        width: 40vw;
    }
}
.slide.ativo{
    opacity: 1;
    visibility: visible;
    clip-path: circle(120vw at 85% 50%);
}



.slide:nth-child(1) .conteudo img{
    width: 30vw;
    transform: translateX(20%)
}
.slide:nth-child(4) .conteudo img{
    width: 20vw;
    height: 80%;
    transform: translateX(20%)
}

.slide:nth-child(2) .conteudo img,
.slide:nth-child(3) .conteudo img{
    width: 30vw;
    transform: translateX(30%)
}

.textos{
        h2{
            font-size: 4vw;
        }
        p{
            font-size: clamp(1em,1.1vw,2.5vw);
            width: 75%;
            margin-bottom: clamp(60px,4vw,60px);
        }
        .button{
            background-color: white;
            padding: 20px;
            border: 2px solid black;
            border-radius: 5px;
            width: fit-content;
            font-family: "poppins",sans-serif;
            a{
                color: black;
                text-decoration: none;
            }
        }

}